// TOP NAV
.main-header {
    background: $primaryColor;
    padding-top: 50px;
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $primaryColor;
        z-index: 100;
        &__list {
            display: flex;
            width: 50%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
        &__link {
            @include secondaryFont(2rem);
            line-height: 1.45;
            color:white;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
}

// MAIN HEADER

.hero-image {
    .wrapper {
        display: flex;
        position: relative;
        margin: 0 10%;
        padding: 0;
        // border: 1px red solid;
    }
    &__text {
        max-width: auto;
        margin-right: 10px;
    }
    &__round-text {
        position: relative;
        top: 180px;
        left: -50px;
    }
    &__image {
        box-shadow: 20px 20px 0 white;
        position: relative;
        top: 50px;
    }
}