// TOP NAV
.main-header {
    background: $primaryColor;
    padding-top: 50px;
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $primaryColor;
        z-index: 100;
        &__list {
            display: flex;
            width: 50%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }
        &__link {
            @include secondaryFont(2rem);
            line-height: 1.45;
            color:white;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
        }
        &__hamburg-menu {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 5rem;
            color: $accentColor;
            display: none;
            z-index: 1000;
        }
    }
}

// MAIN HEADER

.hero-image {
    .wrapper {
        display: flex;
        position: relative;
        margin: 0 10%;
        padding: 0;
        // border: 1px red solid;
    }
    &__text {
        margin-right: 20px;
        max-width: 65%;
    }
    &__round-text {
        position: relative;
        top: 180px;
        left: -50px;
    }
    &__container {
        width: 32%;
    }
    &__image {
        box-shadow: 20px 20px 0 white;
        position: relative;
        top: 50px;
        width: 100%;
    }
}

@media (max-width: 1330px) {
    .hero-image {
        .wrapper {
            margin: 0 8%;
        }
        &__round-text {
            width: 120px;
            top: 155px;
            left: -45px;
        }
    }   
    .display-header--large {
        font-size: 14rem;
    }
}

@media (max-width: 1230px) {
    .main-header .main-nav__list {
        width: 70%;
    }
}

@media (max-width: 1130px) {
    .hero-image {
        &__round-text {
            width: 100px;
            top: 135px;
            left: -35px;
        }
    }   
    .display-header--large {
        font-size: 12rem;
    }    
}

@media (max-width: 980px) {
    .list__item--willow {
        display: none;
    }
    .main-header {
         padding-top: 0;
        .main-nav {
            left: auto;
            &__list {
                flex-direction: column;
                width: 350px;
                background: $primaryLight;
                height: 100vh;
                justify-content: space-around;
                padding: 80px 0;
                position: relative;
                display: none;
                right: -500px;
                transition: right 1s;
            }
            &__link {
                font-size: 3.5rem;
            }
            &__hamburg-menu {
                display: inline-block;
                cursor: pointer;
            }
        }  
    }
    .hero-image {
        height: 100vh;
        background: url(../../assets/home-image-1.jpg);
        background-size: cover;
        background-position: center;
        &__text {
            margin: auto;
            margin-top: 10%;
        }
        &__round-text {
            width: 130px;
            top: 167px;
            left: -48px;
        }
        &__container {
            display: none;
        }
        .wrapper {
            margin: 0;
            height: 100vh;
            background: linear-gradient(to bottom rgba(0,0,0,0.3), rgba(0,0,0,0.3));
        }
        .display-header--large {
            font-size: 15rem;
        }
    }
    #toggle:checked ~ .main-nav__list {
        display: flex;
        right: 0;
    }
}

@media (max-width: 830px) {
    .hero-image {
        .display-header--large {
            font-size: 9rem;
        }
        &__round-text {
            width: 80px;
            top: 100px;
            left: -35px;
        }
    }
}

@media (max-width: 560px) {
    .hero-image {
        .display-header--large {
            font-size: 7rem;
        }
        &__round-text {
            width: 60px;
            top: 80px;
            left: -25px;
        }
    }
}

@media (max-width: 410px) {
    .hero-image {
        .display-header--large {
            font-size: 5rem;
            padding-top: 20%;
        }
        &__round-text {
            width: 45px;
            top: 100px;
            left: -20px;
        }
    } 
}
