.journey {
    background: $whiteShade;
    &__wrapper {
        padding: 7% 0 5% 0;
        display: flex;
    }
    &__content {
        max-width: calc(70% - 20px);
        padding-left: 80px;
    }
    &__img {
        max-width: calc(30% - 20px);
    }
    &__img-shadow {
        box-shadow: 20px 20px 0 $primaryLight;
    }
}

.image-separator {
    min-height: 50vh;
    max-width: 100%;
    background: url("../../assets/home-image-5.jpg");
    background-size: cover;
}