article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list__link {
    text-decoration: none; }

.wrapper {
  margin: 0 8%; }

.display-header {
  font-family: 'Abril Fatface', cursive;
  color: #1f1f1f;
  font-size: 8rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 1.15; }
  .display-header--large {
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 16rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: white;
    position: relative; }

.primary-header {
  font-family: 'Abril Fatface', cursive;
  color: #1f1f1f;
  font-size: 4.2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 1px; }
  .primary-header--white {
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 4.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: #f6f6f6; }
  .primary-header--medium {
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px; }
  .primary-header--small {
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px; }

.button {
  font-family: 'Abril Fatface', cursive;
  color: #1f1f1f;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.6;
  text-decoration: none;
  background: #e4a436;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block; }

.text {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  margin-top: 10px; }

.main-header {
  background: #345231;
  padding-top: 20px; }
  .main-header .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
  .main-header .main-nav__link {
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1.45;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px; }

.hero-image .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 10%;
  padding: 0; }

.hero-image__text {
  max-width: auto;
  margin-right: 10px; }

.hero-image__round-text {
  position: relative;
  top: 180px;
  left: -50px; }

.hero-image__image {
  -webkit-box-shadow: 20px 20px 0 white;
  box-shadow: 20px 20px 0 white;
  position: relative;
  top: 50px; }

.about {
  background: #f6f6f6;
  text-align: center; }
  .about__wrapper {
    padding: 6% 0 10% 0; }

.blog img {
  width: 100%; }

.blog__wrapper {
  padding: 0; }

.blog__img {
  max-width: calc(50%);
  position: relative; }

.blog__content {
  max-width: calc(50%); }

.blog__content--align-left {
  padding-left: 80px;
  padding-top: 6%; }

.blog__content--align-right {
  text-align: right;
  padding-right: 80px; }

.blog__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px; }
  .blog__post:first-of-type {
    margin-top: 0; }
  .blog__post--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.blog__img-shadow--light-green {
  -webkit-box-shadow: 20px 20px 0 #709b6b, -170px 20px 0 #709b6b;
  box-shadow: 20px 20px 0 #709b6b, -170px 20px 0 #709b6b;
  position: relative;
  top: -50px; }

.blog__img-shadow--dark-green {
  -webkit-box-shadow: 170px 20px 0 #345231, 20px 20px 0 #345231;
  box-shadow: 170px 20px 0 #345231, 20px 20px 0 #345231;
  position: relative;
  bottom: -30px; }

.journey {
  background: #f6f6f6; }
  .journey__wrapper {
    padding: 7% 0 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .journey__content {
    max-width: calc(70% - 20px);
    padding-left: 80px; }
  .journey__img {
    max-width: calc(30% - 20px); }
  .journey__img-shadow {
    -webkit-box-shadow: 20px 20px 0 #709b6b;
    box-shadow: 20px 20px 0 #709b6b; }

.image-separator {
  min-height: 50vh;
  max-width: 100%;
  background: url("../../assets/home-image-5.jpg");
  background-size: cover; }

.gallery {
  padding: 5% 0; }
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery__item {
    width: calc((100% - 80px) / 3);
    position: relative; }
    .gallery__item:nth-of-type(2) {
      margin: 0 40px; }
    .gallery__item:hover .gallery__caption {
      display: block; }
  .gallery__img {
    width: 100%; }
  .gallery__caption {
    position: absolute;
    top: 0;
    bottom: 4px;
    right: 0;
    left: 0;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    padding-top: 40%;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background: -o-linear-gradient(top rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background: linear-gradient(to bottom rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: none; }
