article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

a {
  text-decoration: none; }

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list__link {
    text-decoration: none; }

.wrapper {
  margin: 0 8%; }

.display-header {
  font-family: 'Abril Fatface', cursive;
  color: #1f1f1f;
  font-size: 8rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 1.15;
  color: #f6f6f6; }
  .display-header--large {
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 16rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    position: relative;
    color: #f6f6f6; }

.primary-header {
  font-family: 'Abril Fatface', cursive;
  color: #1f1f1f;
  font-size: 4.2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 1px; }
  .primary-header--white {
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 4.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: #f6f6f6; }
  .primary-header--medium {
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px; }

.secondary-header {
  font-family: 'Abril Fatface', cursive;
  color: #1f1f1f;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-weight: normal; }

.button {
  font-family: 'Abril Fatface', cursive;
  color: #1f1f1f;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.6;
  text-decoration: none;
  background: #e4a436;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block; }

.text {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  margin-top: 10px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 6%; }
  .form__name, .form__email, .form__text-area, .form__button {
    border: none; }
    .form__name::-webkit-input-placeholder, .form__email::-webkit-input-placeholder, .form__text-area::-webkit-input-placeholder, .form__button::-webkit-input-placeholder {
      opacity: 1;
      color: #1f1f1f; }
    .form__name:-ms-input-placeholder, .form__email:-ms-input-placeholder, .form__text-area:-ms-input-placeholder, .form__button:-ms-input-placeholder {
      opacity: 1;
      color: #1f1f1f; }
    .form__name::-ms-input-placeholder, .form__email::-ms-input-placeholder, .form__text-area::-ms-input-placeholder, .form__button::-ms-input-placeholder {
      opacity: 1;
      color: #1f1f1f; }
    .form__name::placeholder, .form__email::placeholder, .form__text-area::placeholder, .form__button::placeholder {
      opacity: 1;
      color: #1f1f1f; }
  .form__name, .form__email {
    width: calc(50% - 10px);
    padding: 30px 0;
    padding-left: 30px; }
  .form__name {
    margin-right: 20px; }
  .form__text-area {
    margin-top: 20px;
    width: 100%;
    padding: 40px 0 0 30px;
    resize: none; }
  .form__button {
    width: 100%; }

.main-header {
  background: #345231;
  padding-top: 50px; }
  .main-header .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #345231;
    z-index: 100; }
    .main-header .main-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 50%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto; }
    .main-header .main-nav__link {
      font-family: 'Montserrat', sans-serif;
      color: #1f1f1f;
      font-size: 2rem;
      margin: 0;
      padding: 0;
      line-height: 1.45;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px; }

.hero-image .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 10%;
  padding: 0; }

.hero-image__text {
  max-width: auto;
  margin-right: 10px; }

.hero-image__round-text {
  position: relative;
  top: 180px;
  left: -50px; }

.hero-image__image {
  -webkit-box-shadow: 20px 20px 0 white;
  box-shadow: 20px 20px 0 white;
  position: relative;
  top: 50px; }

.about {
  background: #f6f6f6;
  text-align: center; }
  .about__wrapper {
    padding: 6% 0 10% 0; }

.blog img {
  width: 100%; }

.blog__wrapper {
  padding: 0; }

.blog__img {
  max-width: calc(50%);
  position: relative; }

.blog__content {
  max-width: calc(50%); }

.blog__content--align-left {
  padding-left: 80px;
  padding-top: 6%; }

.blog__content--align-right {
  text-align: right;
  padding-right: 80px; }

.blog__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px; }
  .blog__post:first-of-type {
    margin-top: 0; }
  .blog__post--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.blog__img-shadow--light-green {
  -webkit-box-shadow: 20px 20px 0 #709b6b, -170px 20px 0 #709b6b;
  box-shadow: 20px 20px 0 #709b6b, -170px 20px 0 #709b6b;
  position: relative;
  top: -50px; }

.blog__img-shadow--dark-green {
  -webkit-box-shadow: 170px 20px 0 #345231, 20px 20px 0 #345231;
  box-shadow: 170px 20px 0 #345231, 20px 20px 0 #345231;
  position: relative;
  bottom: -30px; }

.journey {
  background: #f6f6f6; }
  .journey__wrapper {
    padding: 7% 0 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .journey__content {
    max-width: calc(70% - 20px);
    padding-left: 80px; }
  .journey__img {
    max-width: calc(30% - 20px); }
  .journey__img-shadow {
    -webkit-box-shadow: 20px 20px 0 #709b6b;
    box-shadow: 20px 20px 0 #709b6b; }

.image-separator {
  min-height: 50vh;
  max-width: 100%;
  background: url("../../assets/home-image-5.jpg");
  background-size: cover; }

.gallery {
  padding: 5% 0; }
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery__item {
    width: calc((100% - 80px) / 3);
    position: relative; }
    .gallery__item:nth-of-type(2) {
      margin: 0 40px; }
    .gallery__item:hover .gallery__caption {
      opacity: 1; }
  .gallery__img {
    width: 100%; }
  .gallery__caption {
    position: absolute;
    top: 0;
    bottom: 4px;
    right: 0;
    left: 0;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #1f1f1f;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    padding-top: 40%;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background: -o-linear-gradient(top rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background: linear-gradient(to bottom rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.bottom-nav {
  background: #f6f6f6; }
  .bottom-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2% 0 5% 0; }
  .bottom-nav__item {
    max-width: 45%;
    margin-left: 3%; }
  .bottom-nav__heading {
    margin-top: 50px; }
  .bottom-nav__photos, .bottom-nav__about, .bottom-nav__blog, .bottom-nav__contact {
    position: relative; }
    .bottom-nav__photos::before, .bottom-nav__about::before, .bottom-nav__blog::before, .bottom-nav__contact::before {
      content: "\f03e";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 2rem;
      position: absolute;
      left: -40px;
      top: 13px;
      z-index: 10; }
    .bottom-nav__photos::after, .bottom-nav__about::after, .bottom-nav__blog::after, .bottom-nav__contact::after {
      content: "";
      height: 42px;
      width: 42px;
      background: #e4a436;
      position: absolute;
      left: -51px;
      top: 2px;
      border-radius: 50%; }
  .bottom-nav__about::before {
    content: "\f007"; }
  .bottom-nav__blog::before {
    content: "\f108"; }
  .bottom-nav__contact::before {
    content: "\f095"; }

.footer {
  color: white;
  background: #1f1f1f;
  text-align: center; }
  .footer__copyright {
    margin: 0;
    padding: 15px 0;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px; }

.main-blog-header {
  height: 50vh;
  background: url(../../assets/blog-image-1.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .main-blog-header__text {
    position: relative;
    bottom: -17px; }

.blog-main {
  background: #f6f6f6; }
  .blog-main__wrapper {
    padding: 6% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog-main__aside {
    width: 32%; }
    .blog-main__aside__about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: white;
      padding: 40px; }
    .blog-main__aside__image {
      width: 100%;
      padding-bottom: 30px; }
    .blog-main__aside__text, .blog-main__aside__list {
      margin: 0;
      padding-top: 20px; }
    .blog-main__aside__link {
      color: #709b6b;
      font-weight: bold; }
    .blog-main__aside__list {
      list-style-position: inside; }
    .blog-main__aside__list-item {
      list-style: none;
      padding-left: 20px;
      position: relative;
      line-height: 1.2; }
      .blog-main__aside__list-item::before {
        content: ".";
        font-size: 2.8rem;
        position: relative;
        top: -4px;
        right: 10px; }
    .blog-main__aside__recent {
      background: white;
      padding: 40px;
      margin-top: 20px; }
  .blog-main__blog {
    width: 66%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .blog-main__post {
    padding: 40px;
    background: white;
    -webkit-box-shadow: 0 5px 0 #709b6b;
    box-shadow: 0 5px 0 #709b6b; }

.comments__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  background: white;
  padding: 50px 40px; }
  .comments__post:last-of-type {
    -webkit-box-shadow: 0 5px 0 #709b6b;
    box-shadow: 0 5px 0 #709b6b;
    margin-top: 20px; }

.comments__profile-pic {
  margin-right: 20px; }

.date {
  text-transform: capitalize; }
  .date__by {
    text-transform: lowercase; }

.contact-header {
  height: 50vh;
  background: url(../../assets/contact-image-1.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .contact-header__text {
    position: relative;
    bottom: -17px; }

.contact-main {
  background: #f6f6f6; }
